src/main/mule/get-covid-reports.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="get-covid-reportsFlow" doc:id="6f0e9af6-1012-4e26-be77-57551f6f9189" >
		<http:listener doc:name="Listener" doc:id="52b7c3eb-3b41-4db9-b7c1-796b00b8914f" config-ref="HTTP_Listener_config" path="v1/cases" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Logger" doc:id="695cc090-cf9b-4808-9c56-fb67de7af542" message="#[attributes.queryParams.state]"/>
	</flow>
</mule>
