src/main/mule/register-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="02c6c9db-1181-4e1e-b972-90795ef15d71" basePath="covid" >
		<http:listener-connection host="0.0.0.0" port="9000" />
	</http:listener-config>
	<flow name="register-covid-caseFlow" doc:id="a6793e64-621b-410d-ab85-98169b1110ad" >
		<http:listener doc:name="Listener" doc:id="b8f85cba-9003-4a9b-927a-7a100f8b6f7f" config-ref="HTTP_Listener_config" path="v1/cases " allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="a1127081-1f76-4106-a9eb-873ba1ac2379" message="#[payload.source]"/>
	</flow>
</mule>
